<!DOCTYPE html>
<html>
<head>
  <title>Loudspace</title>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

  $(function() {
    $('.brick').each(function(index){
      var width = $(this).attr('data-width');
      var height = $(this).attr('data-height');
      $(this).css('width', width);
      $(this).css('height', height);
    });

    var $fwl = $('.freewall').masonry({
      itemSelector: '.brick',
      columnWidth: 430,
      isFitWidth: true,
      isOrigintop: true
    });

    $fwl.imagesLoaded().progress( function() {
      $fwl.masonry('layout');
    });

  });


  // $(function() {
  // 	var wall = new freewall("#free-wall");
  // 	wall.reset({
  // 		selector: '.brick',
  // 		animate: true,
  // 		fixSize: 0,
  // 		gutterX: 10,
  // 		gutterY: 10,
  // 	});
  // 	wall.fitWidth();
  // });



  </script>


</head>
<body>

<%= render 'layouts/nav' %>

<%= yield %>

</body>

</html>
