<div class="form_center">
<%= form_tag('/signin', method: :post) do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= label_tag :email %><br>
    <%= email_field_tag :email, nil, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= label_tag :password %><br>
    <%= password_field_tag :password, nil, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= submit_tag %>
  </div>

<% end %>
</div>